*{
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

.heder{
    padding: 150px;
    text-align: center;
    color: aliceblue;
    background-color: rgb(226, 236, 236);
    background-image: url("/static/pics/dark.jpg");
}

/* .header h1{
    color: aliceblue;
} */


.navbar{
    display: flex;
    background-color: black;
}

.navbar a{
    padding: 10px;
    text-decoration: none;
}


.navbar a:hover{
    background-color:rgb(0, 8, 14);
    color: rgb(0, 255, 4);
}





.row{
    display: flex;
    flex-wrap: wrap;
    background-color: #090909;
}


.side{
    flex: 30%;
    padding: 20px;
    background-color: #625d5d;
    
}

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
    background-color: #625d5d;
}


div.gallery {
    /* margin: 10px; */
    float: left;
    width: 100%;
    padding: 6px;
    max-width: 100%;
}

/* div.gallery:hover {
   border: 1px solid #777; 
}  */

/* Footer */
.footer {
    text-align: center;
    background-color: rgb(2, 2, 2);
    margin: 0;
    padding-top: 40px;

}

.footer a{
    padding: 20px;
    text-decoration: none;
    margin: 0;
    padding-bottom: 10px;
}


.footer a:hover{
    background-color:rgb(0, 8, 14);
    color: rgb(0, 255, 4);
} 

.footer p{
    color: aliceblue;
    padding-bottom: 5px;

}

.row a{
    text-decoration: none;
    color: black;
}

.fakeimg img{
    width: 40%;
    border-radius: 50%;
}



@media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
}
