*{
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

.heder{
    padding: 150px;
    text-align: center;
    color: aliceblue;
    background-color: rgb(226, 236, 236);
    background-image: url("/static/pics/dark.jpg");
}

.navbar2{
    display: flex;
    background-color: black;
}

.navbar2 img{
    width: 4%;
    padding: 5px;
    border-radius: 50%;

}


.pagination{
    padding-top: 20px;
    padding-left: 155px;
    padding-bottom: 10px;
}

.pagination a{
    margin: 20px;
}




/* .navbar2 button{
    padding: 10px;
    text-decoration: none;
}
.navbar2 a{
    text-decoration: none;
    color: #090909;
}

.navbar2 a:hover{
    background-color : rgb(13, 13, 12);
    color: green;
    
}   

.navbar2 button:hover{
    background-color : rgb(13, 13, 12);
    
    
}   */

.navbar2 button{
    padding: 10px;
    text-decoration: none;
}

.navbar2 button:hover{
    background-color : greenyellow;
    color: black;
}

.navbar2 a{
    color: #090909;
    text-decoration: none;
}

.navbar2 h4{
    color: aliceblue;
    padding-left: 10px;
    text-align: center;
}

#profile{
    color: #22dacd;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 15px;
}







.navbar{
    display: flex;
    background-color: black;
}

.navbar a{
    padding: 10px;
    text-decoration: none;
}

.navbar button{
    float: right;
}


.navbar a:hover{
    background-color:rgb(0, 8, 14);
    color: rgb(0, 255, 4);
}



.row{
    display: flex;
    flex-wrap: wrap;
    background-color: #090909;
}


.side{
    flex: 30%;
    padding: 20px;
    background-color: #625d5d;
    
}

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
    background-color: #625d5d;
}


.main a{
    color: orange;
}


div.gallery {
    float: left;
    width: 100%;
    padding: 6px;
    max-width: 100%;
}


.gallery img{
    width: 40%;
}

.button{
    
    background-color: aqua;
    border: none;
    color: black;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 6px;
   
}







.footer {
    padding: 5px;
    text-align: center;
    background-color: black;

}

.footer h5{
    color: rgb(200, 203, 206);
}

/* .footer a:hover{
    background-color:rgb(0, 8, 14);
    color: rgb(0, 255, 4);
} */



.row a{
    text-decoration: none;
    color: black;
}

.fakeimg img{
    width: 40%;
    border-radius: 50%;
}


.contentiamge{
    width: 100%;
    border-radius: 20%;
    text-align: center;
}


#contenttitle{
    text-align: center;
}
#contentinfo{
    text-align: center;
}



@media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
}
