*{
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

.heder{
    padding: 150px;
    text-align: center;
    color: aliceblue;
    background-color: rgb(226, 236, 236);
    background: url("/static/pics/dark.jpg");
}

/* .header h1{
    color: aliceblue;
} */


.navbar{
    display: flex;
    background-color: black;
}

.navbar a{
    padding: 10px;
    text-decoration: none;
}


.navbar a:hover{
    background-color:rgb(0, 8, 14);
    color: rgb(0, 255, 4);
}



.row{
    display: flex;
    flex-wrap: wrap;
    background-color: #625d5d;
}


.side{
    flex: 30%;
    padding: 20px;
    background-color: #625d5d;
    
}

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
    background-color: #625d5d;
}


/* .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
} */

/* Footer */
.footer {
    text-align: center;
    background-color: rgb(2, 2, 2);
    margin: 0;
    padding: 20px;

}

.footer a{
    padding: 40px;
    text-decoration: none;
    margin: 0;
}


.footer a:hover{
    background-color:rgb(0, 8, 14);
    color: rgb(0, 255, 4);
}

.row a{
    text-decoration: none;
    color: black;
}


@media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
}
