<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{%static 'css/about.css'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>

    <div class="navbar">
        <a href="https://www.instagram.com/barsam.h.aski?utm_source=qr&igsh=MXZ0NzA5a3V0dzdvZQ=="><i class="fa fa-instagram"></i></a>
        <a href="https://x.com/AskiBarsam?t=YHmvBXJmdjPkg-HJ4dmlfQ&s=03"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/barsam-hassanzadeh-askii?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/Bwar3am"><i class="fa fa-github"></i></a>
        <a href=" https://t.me/Bwar3am"><i class="fa fa-telegram"></i></a>
        <a href=" https://t.me/Bwar3am"><i class="fa fa-pinterest"></i></a>
    </div>
    
    <div class="header">
        <img src="{%static 'pics/Bwar3am.jpg'%} " alt="amoobarsam">
        <div class="text">
            <h2>Barsam Hassanzadeh-aski</h2> 
            <p>Backend Developer and
                interested in Al & Ml 
            </p>
            
        </div>
    </div>

    <div class="flex-container">
        <div>
            <h3>about author</h3>
            <p>Hello evreyone I'm Mohammad Hassanzadeh-aski and my secondname is Barsam so call me Barsam please so anyway im currently a student and im studying electrical enginering student in Mazandaran university and going to continue this journey to be an expert and an engineer so and i currently working with python and c and c++  my main Interests are ML , computer network , hardwareprogramming. also im a freesoftware fan and love and support freesoftwares if you want to contact me you can find me in these platforms  </p>
            <div>
                <a href="https://www.instagram.com/barsam.h.aski?utm_source=qr&igsh=MXZ0NzA5a3V0dzdvZQ=="><i class="fa fa-instagram"></i></a>
                <a href="https://x.com/AskiBarsam?t=YHmvBXJmdjPkg-HJ4dmlfQ&s=03"><i class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/barsam-hassanzadeh-askii?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/Bwar3am"><i class="fa fa-github"></i></a>
                <a href=" https://t.me/Bwar3am"><i class="fa fa-telegram"></i></a>
                <a href=" https://t.me/Bwar3am"><i class="fa fa-pinterest"></i></a>
            </div>
        </div>
                   
    </div>


    <!-- <div class="footer">
        <div>
            <a href="https://www.instagram.com/barsam.h.aski?utm_source=qr&igsh=MXZ0NzA5a3V0dzdvZQ=="><i class="fa fa-instagram"></i></a>
            <a href="https://x.com/AskiBarsam?t=YHmvBXJmdjPkg-HJ4dmlfQ&s=03"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/barsam-hassanzadeh-askii?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/Bwar3am"><i class="fa fa-github"></i></a>
            <a href=" https://t.me/Bwar3am"><i class="fa fa-telegram"></i></a>
            <a href=" https://t.me/Bwar3am"><i class="fa fa-pinterest"></i></a>
        </div>
    </div> -->
   

 
</body>
</html>