{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{%static 'css/index1.css'%}">
    <link rel="icon" type="image/x-icon" href="{%static 'icon3.jfif' %}">
    <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bwar3amino</title>
</head>
<body>
    {% comment %} <script>
        function loadItems() {
            $.ajax({
                url: "{% url 'get_items' %}",
                type: "GET",
                success: function(response) {
                    var itemsContainer = $('#items-container');
                    itemsContainer.empty();
                    response.items.forEach(function(item) {
                        itemsContainer.append('<p>' + item.name + '</p>');
                    });
                }
            });
        }

        // Load items every 10 seconds
        setInterval(loadItems, 10000);

        // Initial load
        loadItems();
    </script> {% endcomment %}

    <div class="navbar2">
        {% if user.is_authenticated %}

        <img src="{{user.userinfo.profile_image.url}}" alt="profile"><h4>Hi {{ user.username }}!</h4> <a href="{% url 'displaying' %}"><h3>view your account</h3></a>
       
        
        {% else %}
        <button class="button"><a href="{% url 'signup' %}">Register</a></button>
        <button class="button"><a href="{% url 'login' %}">Login</a></button>
        {% endif %}


    </div>
   
    <div class="heder">
        <h2>welcome to Bwar3amino</h1>
    </div>
    
    <div class="navbar">
        <a href=" https://t.me/Bwar3am"><i class="fa fa-telegram"></i></a>
        <a href="https://x.com/AskiBarsam?t=YHmvBXJmdjPkg-HJ4dmlfQ&s=03"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/barsam-hassanzadeh-askii?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/Bwar3am"><i class="fa fa-github"></i></a>
        <a href="https://www.instagram.com/barsam.h.aski?utm_source=qr&igsh=MXZ0NzA5a3V0dzdvZQ=="><i class="fa fa-instagram"></i></a>
        <a href=" https://t.me/Bwar3am"><i class="fa fa-pinterest"></i></a>
        {% comment %} <a href=" https://t.me/Bwar3am"><i class="fa fa-whatsapp"></i></a>
        <a href=" https://t.me/Bwar3am"><i class="fa fa-youtube"></i></a>
        <a href=" https://t.me/Bwar3am"><i class="fa fa-tiktok"></i></a> {% endcomment %}
        


    </div>



    {% block content %}
    
    

    
    {% endblock content %}

    <div class="pagination" id="page">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </div> 



    <div class="footer">
        {% comment %} <a href="https://www.instagram.com/barsam.h.aski?utm_source=qr&igsh=MXZ0NzA5a3V0dzdvZQ=="><i class="fa fa-instagram"></i></a>
        <a href="https://x.com/AskiBarsam?t=YHmvBXJmdjPkg-HJ4dmlfQ&s=03"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/barsam-hassanzadeh-askii?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/Bwar3am"><i class="fa fa-github"></i></a>
        <a href=" https://t.me/Bwar3am"><i class="fa fa-telegram"></i></a>
        <a href=" https://t.me/Bwar3am"><i class="fa fa-pinterest"></i></a> {% endcomment %}
        <h5>this is the footer</h5>
    </div> 