<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>display</title>
</head>
<body>
    <div class="username">
        <h4>Hi {{ user.username }}!</h4> <a id="profile"   href="{% url 'updateprofile' user.id %}">Your Profile</a>
    </div>
    <br>
    
    <img src="{{user.userinfo.profile_image.url}}" alt="prof">


    <p><a href="{% url 'password_change' %}">Password Change</a></p>
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Log Out</button>
</form>



   
</body>
</html>